body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    height: 10vh;
    background-color: #dddddd;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}


.header-buttons {
    display: flex;
    gap: 15px;
}

.header-buttons a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #007bff;
}

.header-buttons a:nth-child(2) {
    background-color: #ffffff;
    color: #007bff;
    border: 1px solid #007bff;
}
#logo{
    width: 150px;
}

#tipo{
    font-family: Arial, sans-serif;
    margin:100px;
    margin-top: 80px;
    font-size: 50px;

}
#topi{
    font-family: Arial, sans-serif;
    margin:100px;
}
.topicos {
    list-style: none;
    padding-left: 100px;
    
    
}

.topicos li {
    line-height: 50px;
    font-size: 30px;
    padding: 10px 0;
    margin-top: 10px;
    font-family: Arial, sans-serif;
}

.atendente{
    position: absolute;
    bottom: 14.3vh;
    right: 0;
    max-width: 300px;
    max-height: 300px;

}
.atendente img{

    width: 100%;
    height: auto;
    border-radius: 5px;
}

footer {
    background-color: #dddddd;
    padding: 20px;
    text-align: end;
    margin-top: 50px;
    height: 10vh;
}

footer nav {
    padding-top: 30px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 10px;
}

footer a {
    text-decoration: none;
    color: #000000;
    font-size: 19px;
}  


main {

    padding: 50px 20px;
    height: 55.8vh;
    background-color: white;
}

main h1 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 80px;
}

main p {
    font-size: 18px;
    color: #555555;
    margin-top: 80px;
}
