body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    
    height: 10vh;
    background-color: #dddddd;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}

.custom_input {
	display: flex;
	align-items: center;
	position: relative;
	max-width: 100%;
    
}

.input {
	font-size: 18px;
	padding: 5px 10px;
	width: 100%;
	padding-left: 35px;
	outline: none;
	background: #FFFFFF;
	color: #000000;
	border: 2px solid #BBBDC0;
	border-radius: 5px;
	box-shadow: 3px 3px 2px 0px #E2E2E2;
	transition: .3s ease;
}

.input:focus {
	background: #F2F2F2;
	border: 1px solid #5A7EC7;
	border-radius: 10px;
}

.input::placeholder {
	color: #DDDDDD;
}

.svg_icon {
	position: absolute;
	left: 10px;
	fill: #7C7C8A;
	width: 18px;
	height: 18px;
}



#logo{
    height: 150px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.header h1 {
    font-size: 24px;
    color: #4682B4;
}
.header a{
    display: flex;
    font-size: 24px;
    color: #4682B4;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.lojas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.loja-item {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    text-align: center;
    width: 28%;
}
.loja-item h2 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

footer {
    height: 10vh;
    background-color: #dddddd;
    padding: 20px;
    text-align: end;
    margin-top: 50px;
}

footer nav {
    padding-top: 30px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 10px;
}

footer a {
    text-decoration: none;
    color: #000000;
    font-size: 19px;
}  
main{
    height: 66.3vh;
}