body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    overflow: hidden;
}

header {
    height: 10vh;
    background-color: #dddddd;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}


.header-buttons {
    display: flex;
    gap: 15px;
}

.header-buttons a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #007bff;
}

.header-buttons a:nth-child(2) {
    background-color: #ffffff;
    color: #007bff;
    border: 1px solid #007bff;
}


footer {
    background-color: #dddddd;
    padding: 20px;
    text-align: end;
    margin-top: 50px;
    height: 10vh;
}

footer nav {
    padding-top: 30px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 10px;
}

footer a {
    text-decoration: none;
    color: #000000;
    font-size: 19px;
}  

#logo{
    width: 150px;
}

#somos{
    padding-left: 40px;
    padding-top: 60px;
}
#p{
    padding-top: 10px;
    padding-left: 50px;
    font-size: 30px;
    width: 700px;
    overflow-wrap: break-word;
   
}
.topico {
    font-size: 30px;
    list-style: none;
    padding-left: 50px;
}
.topico li{
    line-height: 40px;
}
.textos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    
}
.textos h1{
    float: left;
    text-align: center;
}
.textos h2{
    margin-left: auto;
    text-align: center;
}
.textos h3{
    margin-left: auto;
    text-align: center;

}
#btnloja{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 10px;
    display: flex;
    text-decoration: none;
    
}
#lojas{
    display: flex;
    font-size: 25px;
    padding-top: 50px;
    justify-content: center;

}
#descubra{
    display: flex;
    margin-top: 10px;
    font-size: 25px;
    padding-top: 10px;
    justify-content: center;
}
#textobtn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}
main{
    height: 67vh;
}


